<div class="card hoverable z-depth-4">
  
    <div class="card-content">
        <span class="card-title"> 
                    <h3 class="header center">
                        <i class="medium material-icons hide-on-small-only">lock</i> SOAT EN LINEA
                    </h3>
                </span>
        <div class="row center">
            <h5 class="header light">
                Tu mejor opción a la hora de comprar tu SOAT con total seguridad.
            </h5>
        </div>
        <div class="row center">
            <h6 class="header light">
                presentacion de Arrow Tec y Global TPA
                 
                <div class="progress   darken-3" style='display:none;' id="carga">
                <div class="indeterminate"></div>
                
            </h6>
        </div>

        <div class="row center">
          
             <div class="btn-large waves-effect waves-light blue darken-4 pulse center">
                 
                <input id="Placa" 
                type="text" 
                class="validate"  
                placeholder="Ingresa tu PLACA" 
                style="text-align:center; text-transform:uppercase;" 
                onfocus="this.placeholder = ''" 
                onblur="this.placeholder = 'Ingresa tu PLACA'"
                maxlength="6"  
                onkeyup="contar()">
    
        </div>

            </div>


        </div>
    </div>
  

</div>
<script>

 window.scrollTo(0,0) 

function contar()
{   

  textoArea = document.getElementById("Placa").value;
  numeroCaracteres = textoArea.length;

if (numeroCaracteres==6)
 esperar();

} 

function esperar()
{
    
    div = document.getElementById('carga');
    div.style.display = '';
setTimeout(function(){ EnviarPlaca (); }, 1000);
 
}


function EnviarPlaca (){
        
    async=false;
    window.location.href = '#/vehicle';
  
}


</script>
