<div class="card hoverable z-depth-4" onload="Traer_Vehiculo()">

    <div class="card-content">
        <span class="card-title"> 
                    <h6 class="header center pink-text">
                        <i class="tiny material-icons">lock</i> 
                        Complete los Datos del Vehiculo
                    </h6>
                </span>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-12 text-center">
                    <h6 class="indigo-text">Vehículo</h6>
                </div>
               
                <div class="input-field col s12 m6 l6"  >
                    <select id="Marca">
                            <option class="pink-text" value="" disabled selected>Marca</option>
                            <option class="pink-text" value="1">Toyota</option>
                            <option class="pink-text" value="2">Kia</option>
                            <option class="pink-text" value="3">Huyndai</option>
                        </select>

                </div>
                <div class="input-field col s12 m6 l6">
                    <select id="Modelo">
                            <option class="pink-text" value="" disabled selected>Modelo</option>
                            <option class="pink-text" value="1">Corolla 1.6</option>
                            <option class="pink-text" value="2">Cerato 1.6</option>
                            <option class="pink-text" value="3">Elantra</option>
                        </select>

                </div>
                <div class="input-field col s12">
                    <select id="Tipo">
                            <option class="pink-text" value="" disabled selected>Tipo</option>
                            <option class="pink-text" value="1">Automovil</option>
                            <option class="pink-text" value="2">Camioneta</option>
                            <option class="pink-text" value="3">Furgoneta</option>
                        </select>

                </div>
                <div class="input-field col s12 m6 l6">
                    <input id="anio" type="number" class="validate" placeholder="Año">
                     
                </div>
                <div class="input-field col s12 m6 l6">
                    <select>
                            <option class="pink-text" value="" disabled selected>Uso</option>
                            <option class="pink-text" value="1">Particular</option>
                            <option class="pink-text" value="2">Taxi</option>
                            <option class="pink-text" value="3">Carga</option>
                        </select>

                </div>
                <div class="input-field col s12">
                    <select>
                            <option class="pink-text" value="" disabled selected>Región</option>
                            <option class="pink-text" value="1">Lima</option>
                            <option class="pink-text" value="2">Arequipa</option>
                          
                        </select>

                </div>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a href="#/Documents" class="btn-large waves-effect waves-light blue darken-4 pulse center">confirmar</a>
    </div>
</div>

<script>
 window.scrollTo(0,0) 


window.addEventListener('load', Traer_Vehiculo(), false);

        $(function () {
        $('select').material_select();
        });


    function Traer_Vehiculo() {

        $("#Marca").val("1");
        $("#Modelo").val("1");
        $("#Tipo").val("1");
         $("#anio").val("2016");
        //reinicializa el componente
        $('#Marca').material_select();
        $('#Modelo').material_select();
        $('#Tipo').material_select();


    }
 
</script>