<div class="card hoverable z-depth-4">

    <div class="card-content">
        <span class="card-title"> 
                    <h6 class="header center pink-text">
                        <i class="tiny material-icons">lock</i> 
                        Completa el formulario y compra al instante
                    </h6>
                </span>
        <div class="row">
            <div class="input-field col s12">
                <input id="placa" type="text" class="validate">
                <label for="placa">Placa</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <select>
                            <option class="pink-text" value="" disabled selected>Selecciona la marca</option>
                            <option class="pink-text" value="1">Option 1</option>
                            <option class="pink-text" value="2">Option 2</option>
                            <option class="pink-text" value="3">Option 3</option>
                        </select>
                <label>Marca</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <select>
                            <option class="pink-text" value="" disabled selected>Selecciona el modelo</option>
                            <option class="pink-text" value="1">Option 1</option>
                            <option class="pink-text" value="2">Option 2</option>
                            <option class="pink-text" value="3">Option 3</option>
                        </select>
                <label>Modelo</label>
            </div>
            <div class="input-field col s12">
                <select>
                            <option class="pink-text" value="" disabled selected>Selecciona el tipo</option>
                            <option class="pink-text" value="1">Option 1</option>
                            <option class="pink-text" value="2">Option 2</option>
                            <option class="pink-text" value="3">Option 3</option>
                        </select>
                <label>Tipo</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input id="anio" type="number" class="validate">
                <label for="anio">Año</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <select>
                            <option class="pink-text" value="" disabled selected>Selecciona el uso</option>
                            <option class="pink-text" value="1">Option 1</option>
                            <option class="pink-text" value="2">Option 2</option>
                            <option class="pink-text" value="3">Option 3</option>
                        </select>
                <label>Uso</label>
            </div>
            <div class="input-field col s12">
                <select>
                            <option class="pink-text" value="" disabled selected>Selecciona la región</option>
                            <option class="pink-text" value="1">Option 1</option>
                            <option class="pink-text" value="2">Option 2</option>
                            <option class="pink-text" value="3">Option 3</option>
                        </select>
                <label>Región</label>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a href="#/mail" class="pink-text">Continuar</a>
    </div>
</div>

<script>
    $(function () {
        $('select').material_select();
    });

</script>